[submodule "Bird-Game"]
	path = Bird-Game
	url = https://github.com/purvasute/Bird-Game.git
[submodule "Rocket-Game"]
	path = Rocket-Game
	url = https://github.com/purvasute/Rocket-Game.git
[submodule "Sideway-Shooter-Game"]
	path = Sideway-Shooter-Game
	url = https://github.com/purvasute/Sideway-Shooter-Game.git
[submodule "Star_game"]
	path = Star_game
	url = https://github.com/purvasute/Star_game.git
[submodule "Raindrop"]
	path = Raindrop
	url = https://github.com/purvasute/Raindrop
[submodule "Target_practice"]
	path = Target_practice
	url = https://github.com/purvasute/Target_practice
[submodule "New_sideway_Shooter"]
	path = New_sideway_Shooter
	url = https://github.com/purvasute/New_sideway_Shooter
[submodule "Alien_invasion_game"]
	path = Alien_invasion_game
	url = https://github.com/purvasute/Alien_invasion_game
